<section id="about" class="section scrollspy">
    <h2 {% if site.style == 'dark' %}
            class="text-white page-title"
        {% else %}
            class=""
        {% endif %}
    href="#about">About</h2>
    <!--<a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text active"><i class="mdi-social-person small"></i><span>About</span></a>-->
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" style="font-style: italic">I want to build things that
        <span style="text-decoration: underline;">make peoples lives better.</span>
    </p>
    <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
        <div class="container-fluid f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
        <p>Your typical self-taught programmer --
            <a href="https://insights.stackoverflow.com/survey/2019#overview">
                (according to the most recent survey of developers by Stackoverflow).</a></p>

            <p>I have a passion for problem solving and a long list of interests. I love coding in Python and using statistical
        analysis to drive decision making.

            I started out as an electrical engineer and soon found myself more interested in programming PLCs and embedded devices
            over traditional EE work. Around March of 2017 I quit my job to pursue programming and haven't looked back since.</p>
    </div>
    </div>
</section>