<section id="about" class="section scrollspy">
    <h2 {% if site.style == 'dark' %}
    class="text-white page-title"
    {% else %}
    class=""
    {% endif %}
    href="#about">About</h2>
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" style="font-style: italic">I want to build things that
        <span style="text-decoration: underline;">make peoples lives better.</span>
    </p>
    <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
        <div class="container-fluid f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
            <p>Your typical self-taught programmer --
                <a href="https://insights.stackoverflow.com/survey/2019#overview">
                    (according to the most recent survey of developers by Stackoverflow).</a></p>

            <p>I have a passion for solving problems and helping people.</p>
            <p>I’ve worked on small teams for most of my career involved in every part of a projects life-cycle.
                From 3d printers, to automated trading, to industrial retrofits; I have cooperated in a plethora of projects that always kept me learning.</p>
            <p>Currently, I provide automated trading solutions and spend most of my free time teaching myself new skills.</p>

        </div>
    </div>
</section>