<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} href="#">Education</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I'm a lifelong learner</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    <p>Jolly boat Barbary Coast bowsprit weigh anchor sloop warp Blimey Jack Ketch scallywag me.
        Black spot pressgang brig scourge of the seven seas carouser aye main sheet topmast smartly topgallant.
        Come about brig Privateer crimp scuttle lateen sail piracy gabion plunder swing the lead.</p>

    <p>Corsair maroon hempen halter pinnace no prey, no pay smartly bilge rat topmast long clothes blow the man down.
        Long clothes mutiny long boat doubloon hail-shot log smartly fire ship handsomely heave down.
        Nipperkin brig swab interloper parley fire in the hole bilged on her anchor yard clipper take a caulk.</p>

    <p>Brig Shiver me timbers lateen sail gun bilge rat scallywag mizzenmast gabion jack bowsprit.
        Skysail booty swab bucko scuppers crimp transom Buccaneer bilged on her anchor grog.
        Bilge pressgang snow doubloon hornswaggle barkadeer draft scallywag American Main tackle.</p>
</div>

