<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark position-fixed">-->
<nav class="navbar">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#blog">Blog</a></li>
    <li class="nav-button"><a class="nav-link active" href="#blog">Blog</a></li>
<!--    <li><a href="#blog">Blog</a></li>-->
<!--    <li><a href="#blog">Blog</a></li>-->
<!--    <li><a href="#blog">Blog</a></li>-->
<!--    <li><a href="#blog">Blog</a></li>-->
<!--    <li><a href="#blog">Blog</a></li>-->
  </ul>
</nav>