<!--<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">-->
<!--        {% include project-card.html %}-->
<!--      </div>-->

<!--<div class="container">-->
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} href="#">My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Projects I've worked on.</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
<!--    Bitmex Trading Bot-->
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card bg-primary" style="width:100%">
      <img class="card-img-top" src="assets/img/bitmex-trader.png" alt="Bitmex Trader Image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Bitmex Trading Bot</h4>
        <p class="card-text">Automated Cryptocurrency bot trading on Bitmex</p>
          <p></p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    </div>
<!--    Cryptopanic Scraper-->
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card bg-primary" style="width:100%">
      <img class="card-img-top" src="https://github.com/GrilledChickenThighs/cryptopanic_scraper/blob/master/images/screenshot.png" alt="Cryptopanic Scraper" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Cryptopanic Scraper</h4>
        <p class="card-text">Headless chromedriver for automatic scraping of cryptopanics
            asynchronous newsfeed.</p>
          <p></p>
        <a href="https://github.com/GrilledChickenThighs/cryptopanic_scraper" class="stretched-link"></a>
      </div>
    </div>
    </div>
<!--    Project 3 -->
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card medium bg-primary" style="width:100%">
      <img class="card-img-top" src="assets/img/mountain.jpeg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Project Title</h4>
        <p class="card-text">Some example text some example text.</p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
<!--    Project 4-->
</div>
