<!--<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">-->
<!--        {% include project-card.html %}-->
<!--      </div>-->

<!--<div class="container">-->
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} href="#">My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Projects I've worked on.</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

<!--  <div class="card-deck">-->
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card bg-primary" style="width:100%">
      <img class="card-img-top" src="assets/img/mountain.jpeg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Project Title</h4>
        <p class="card-text">Some example text some example text.</p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card bg-primary" style="width:100%">
      <img class="card-img-top" src="assets/img/mountain.jpeg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Project Title</h4>
        <p class="card-text">Some example text some example text.</p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="card bg-primary" style="width:100%">
      <img class="card-img-top" src="assets/img/mountain.jpeg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Project Title</h4>
        <p class="card-text">Some example text some example text.</p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    </div>
  </div>
<!--</div>-->

<!--<h2>Card Image</h2>-->
<!--  <p>Image at the top (card-img-top):</p>-->
<!--  <div class="card" style="width:400px">-->
<!--    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">-->
<!--    <div class="card-body">-->
<!--      <h4 class="card-title">John Doe</h4>-->
<!--      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>-->
<!--      <a href="#" class="btn btn-primary">See Profile</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <br>-->