<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} href="#">Skills</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I'm proficient in these.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <p>Rutters fluke matey lanyard nipperkin draft loot bowsprit crimp Jolly Roger.
    American Main weigh anchor walk the plank provost prow landlubber or just lubber Privateer avast list main sheet.
    Bilged on her anchor ye cable marooned scuttle bilge rat ahoy yo-ho-ho weigh anchor fore.</p>
    <p>Red ensign hail-shot hands Nelsons folly gangplank Gold Road Pieces of Eight Buccaneer Brethren of the Coast handsomely.
        Bilged on her anchor reef hulk mizzen tender deadlights nipperkin reef sails hail-shot salmagundi.
        Letter of Marque rum scuppers haul wind marooned tackle long clothes run a shot across the bow swab gaff.</p>
    <p>Dead men tell no tales yawl Corsair jack barkadeer Plate Fleet square-rigged red ensign capstan wench.
    Starboard Buccaneer rigging lookout hogshead capstan hail-shot rutters swing the lead Letter of Marque.
    Main sheet long boat shrouds swab ahoy gun lanyard landlubber or just lubber sheet rope's end.</p>
</div>

