

<!--    https://wakatime.com/a-look-back-at-2018-->
<section id="Coding Metrics" class="section scrollspy">
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>2019 Coding Metrics</h2>
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" style="font-style: italic">
        You can't improve what you don't measure.</p>
    <h3>Languages over Last Year</h3>
    <figure><embed src="https://wakatime.com/share/@paulse/ac24f9a8-2b86-4487-b3fa-82baa6a79aaa.svg"></figure>
    <h3>Languages over Last 30 Days</h3>
    <figure><embed src="https://wakatime.com/share/@paulse/56fea884-935e-4cd5-b19d-7299a173dd1d.svg"></figure>
    <h3>Languages over Last 7 Days</h3>
    <figure><embed src="https://wakatime.com/share/@paulse/fae412fc-3293-4517-8407-b2ebfbddeca9.svg"></figure>
    <h3>Coding Activity over Last 30 Days</h3>
    <figure><embed src="https://wakatime.com/share/@paulse/ace73bda-124c-4f88-a32a-a3e8009e02f4.svg"></figure>
<!--    <h3>Coding Activity over Last 7 Days</h3>-->
<!--    <figure><embed src="https://wakatime.com/share/@paulse/d1f51fba-7404-44d1-98bd-3557974131e3.svg"></figure>-->
    <h3>Editors Over Last Year</h3>
    <figure><embed src="https://wakatime.com/share/@paulse/fcf6423f-000c-475f-ac46-455de5454f4b.svg"></embed></figure>
</section>
